@charset "UTF-8";
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 2.12rem;
  letter-spacing: 0.1rem;
}

h2 {
  color: #353546;
  padding-bottom: 0.5em;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
}

.presentation h6 {
  margin-bottom: 2rem;
}
.presentation h1 {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media (width >= 768px) {
  h6 {
    font-size: 1rem;
  }
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: #353546;
  text-align: center;
  background: #e2e0db;
}

a,
a:active {
  color: inherit;
  text-decoration: none;
}

main,
footer {
  margin-top: 5rem;
}

main section {
  margin-top: 5rem;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 2.12rem;
  letter-spacing: 0.1rem;
}

h2 {
  color: #353546;
  padding-bottom: 0.5em;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
}

.presentation h6 {
  margin-bottom: 2rem;
}
.presentation h1 {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media (width >= 768px) {
  h6 {
    font-size: 1rem;
  }
}
header {
  color: #e2e0db;
  height: 100vh;
  background: linear-gradient(0deg, hsl(255, 52%, 35%) 0%, hsl(233, 56%, 45%) 100%);
}

nav {
  background-color: #3240b3;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 1rem 2rem;
  list-style: none;
}
nav ul li a {
  color: #e2e0db;
  text-decoration: none;
}

.presentation {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.call-to-action {
  margin-top: 6em;
  color: #432b89;
  font-weight: 800;
  text-align: center;
}
.call-to-action .button {
  background-color: #6de38c;
}

.work-titles {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  position: relative;
}

.work-titles li ~ li::before {
  content: "â—";
  font-size: 0.5em;
  padding: 0 1.7em;
  position: relative;
  top: -0.4em;
}

.about-me .work-titles {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.about-me .work-titles li ~ li::before {
  padding: 0 1em;
}

.img {
  aspect-ratio: 1/1;
}

.margins {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.shadowsm {
  box-shadow: 0 0.2rem 0.3rem hsla(0, 0%, 0%, 0.2);
}

.button {
  background-color: inherit;
  padding: 0.7em 1.5rem;
  border-radius: 0.5em;
}

.about-me .button {
  letter-spacing: 0.1em;
  color: #e2e0db;
  background-color: #3240b3;
  margin-bottom: 1rem;
}

.about-me p {
  font-size: 0.8rem;
  opacity: 0.8;
}

@media (width > 576px) and (orientation: landscape) {
  .presentation {
    margin-top: 2rem;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  .presentation h6 {
    margin-bottom: 0.5rem;
  }
  .presentation h1 {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }
  main {
    padding-top: 1rem;
  }
}
@media (width >= 768px) {
  body {
    text-align: start;
  }
  header {
    color: #353546;
    background: none;
  }
  nav {
    background: #3240b3;
    background: linear-gradient(#3240b3, #333195);
  }
  nav > ul > li > a {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
  .presentation {
    justify-content: end;
    height: 93%;
  }
  .presentation-image {
    margin-top: 6rem;
    height: 40vh;
    width: 100vw;
    box-shadow: inset 0 0.2rem 0.3rem hsla(0, 0%, 0%, 0.14);
  }
  .call-to-action {
    font-size: 1.2em;
    color: #473480;
    letter-spacing: 0.1rem;
  }
  .call-to-action .button {
    background: #7ad692;
  }
  .main-sections {
    display: flex;
    justify-content: space-between;
  }
  .section-img {
    width: 40%;
  }
  .section-text {
    width: 55%;
  }
  .about-me {
    margin-top: 10rem;
  }
}
@media (width >= 768px) and (orientation: landscape) {
  header {
    height: 100vh;
  }
  main {
    margin-top: 0;
  }
  .presentation {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    margin-right: 0;
  }
  .presentation div {
    margin-right: 0.9rem;
  }
  .presentation .presentation-image {
    margin: 0;
    height: 100%;
  }
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 2.12rem;
  letter-spacing: 0.1rem;
}

h2 {
  color: #353546;
  padding-bottom: 0.5em;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
}

.presentation h6 {
  margin-bottom: 2rem;
}
.presentation h1 {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media (width >= 768px) {
  h6 {
    font-size: 1rem;
  }
}
@media (width >= 992px) {
  body {
    font-size: 10px;
    text-align: left;
  }
  h6 {
    font-size: 0.7rem;
  }
  nav ul li {
    padding: 1rem 2rem;
  }
  nav ul li a {
    font-size: 0.7rem;
  }
  .presentation {
    text-align: left;
  }
  .presentation .call-to-action {
    font-size: 0.8rem;
    margin-left: 0;
    display: inline-block;
  }
  .presentation .presentation-text {
    display: inline-block;
    margin: auto;
  }
  .presentation .work-titles {
    justify-content: flex-start;
  }
  .presentation .presentation-image {
    width: 60%;
  }
  main {
    padding-top: 5rem;
  }
  main .about-me .work-titles {
    font-size: 0.7rem;
  }
}