@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.list-row {
  display: flex;
}
.list-row li:first-child::before {
  content: none;
  margin: 0;
}
.list-row li:before {
  content: "◆";
  color: #353546;
  border-radius: 100%;
  margin: 0 0.5rem;
}

.shadow {
  box-shadow: 0 5px 7px -5px hsla(0, 0%, 0%, 0.5);
}

.shadow-in {
  box-shadow: inset 0 5px 7px -5px hsla(0, 0%, 0%, 0.5);
}

.button {
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.button a {
  font-family: "Montserrat";
  color: hsl(43, 6%, 89%);
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.05rem;
  display: inline-block;
  background: inherit;
  padding: 0.7em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 5px 7px -5px hsla(0, 0%, 0%, 0.5);
  border: solid 0.2rem;
}

body {
  color: #353546;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans";
  background: linear-gradient(hsl(43, 6%, 89%), hsl(43, 9%, 89%));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: inherit;
}

h1,
h2 {
  font-weight: 900;
}

ul {
  color: inherit;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#3240b3, #432b89);
  color: hsl(43, 6%, 89%);
  text-align: center;
  overflow: hidden;
  position: relative;
}
header nav {
  background: #3240b3;
  width: 100vw;
}
@media (min-width: 992px) {
  header nav {
    background: linear-gradient(#3240b3, hsl(245, 56%, 40%));
  }
}
header nav ul {
  justify-content: space-evenly;
  color: hsl(43, 6%, 89%);
  display: flex;
}
@media (min-width: 768px) {
  header nav ul {
    justify-content: center;
  }
}
header nav ul li {
  font-size: 1rem;
  padding: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  header nav ul li {
    padding: 1rem 2rem;
  }
}
header .list-row {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
header .list-row li:before {
  color: hsl(43, 6%, 89%);
}
@media (min-width: 992px) {
  header .list-row li:before {
    color: #353546;
  }
}
header section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  header section {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  header section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
header section div {
  margin: 1rem;
}
header section div h6 {
  padding-bottom: 4rem;
}
header section div .button a {
  color: #432b89;
  background: #6de38c;
  border: solid #6de38c;
}
header section .header-img {
  display: none;
}
@media (min-width: 768px) {
  header section .header-img {
    margin: 0;
    display: block;
    object-fit: cover;
    min-width: 30%;
    max-width: 65%;
    margin-left: 1rem;
    height: auto;
  }
}
@media (min-width: 992px) {
  header .header-text {
    width: 40%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 15%;
  }
}
@media (min-width: 992px) {
  header {
    color: #353546;
    background: none;
  }
}

main {
  text-align: center;
}
main section {
  padding-top: 3rem;
  width: 85%;
  margin: auto;
}
@media (min-width: 768px) {
  main section {
    width: 70%;
    padding-top: 6rem;
    text-align: start;
  }
}
main section .section-img {
  width: fit-content;
  margin: 0 auto;
}
main section .button a {
  background: #3240b3;
  border: solid #3240b3;
}
main section .list-row {
  justify-content: center;
}
@media (min-width: 768px) {
  main section .list-row {
    justify-content: flex-start;
  }
}
main section img {
  margin-bottom: 1.5rem;
}
@media (min-width: 992px) {
  main #about-me {
    width: 40%;
  }
}
main #about-me h3 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
main #about-me h6 {
  padding-bottom: 3rem;
}
main #about-me p {
  padding-top: 0.5rem;
  font-size: 12px;
}
main #about-me article {
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  main #about-me .contact {
    display: flex;
    align-items: center;
  }
  main #about-me .contact .button {
    margin: 0 1rem;
  }
  main #about-me .contact p {
    margin: 0;
    padding: 0;
    margin: 0 1rem;
  }
}

footer {
  margin-top: 3rem;
}
footer .footer {
  margin: 0;
  padding: 1rem;
}
footer div {
  font-size: 12px;
  text-align: center;
  padding: 1rem 0;
  background: hsl(43, 6%, 89%);
  box-shadow: inset 0 5px 4px 0px hsla(0, 0%, 61%, 0.1);
}
footer div p {
  margin: 0;
}

@media (min-width: 768px) {
  main .logos,
  main .websites {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    gap: 2rem;
  }
  main .logos .section-img,
  main .websites .section-img {
    grid-area: right;
  }
  main .logos .section-text,
  main .websites .section-text {
    grid-area: left;
  }
  main .animations {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    gap: 2rem;
  }
  main .animations .section-img {
    grid-area: left;
  }
  main .animations .section-text {
    grid-area: right;
  }
}
@media (min-width: 992px) {
  main .logos,
  main .websites {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    gap: 2rem;
  }
  main .logos .section-img,
  main .websites .section-img {
    grid-area: right;
  }
  main .logos .section-text,
  main .websites .section-text {
    grid-area: left;
  }
  main .animations {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    gap: 2rem;
  }
  main .animations .section-img {
    grid-area: left;
  }
  main .animations .section-text {
    grid-area: right;
  }
}