/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

@import "variable";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 900;
  font-size: 2.12rem;
  letter-spacing: 0.1rem;
}
h2 {
  color: $textColor;
  padding-bottom: 0.5em;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
}
.presentation {
  h6 {
    margin-bottom: 2rem;
  }
  h1 {
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
}
h6 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media (width >= 768px) {
  h6 {
    font-size: 1rem;
  }
}
