main {
  @include tablets {
    .logos,
    .websites {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: auto;
      grid-template-areas: "left right";
      gap: 2rem;

      .section-img {
        grid-area: left;
      }
      .section-text {
        grid-area: right;
      }
    }

    .animations {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: auto;
      grid-template-areas: "left right";
      gap: 2rem;

      .section-img {
        grid-area: right;
      }
      .section-text {
        grid-area: left;
      }
    }
  }
  @include desktops {
    .logos,
    .websites {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: auto;
      grid-template-areas: "left right";
      gap: 2rem;

      .section-img {
        grid-area: left;
      }
      .section-text {
        grid-area: right;
      }
    }

    .animations {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: auto;
      grid-template-areas: "left right";
      gap: 2rem;
      .section-img {
        grid-area: right;
      }
      .section-text {
        grid-area: left;
      }
    }
  }
}
