@use "sass:math";

header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient($primaryColor, $secondaryColor);
  color: $backgroundColorTop;
  text-align: center;
  overflow: hidden;
  position: relative;
  nav {
    z-index: 1;
    background: $primaryColor;
    width: 100vw;
    position: fixed;
    @include desktops {
      background: $primaryColor;
    }
    ul {
      justify-content: space-evenly;
      color: $backgroundColorTop;
      display: flex;
      @include tablets {
        justify-content: center;
      }
      li {
        font-size: 1rem;
        padding: 1rem;
        font-weight: 600;
        @include tablets {
          padding: 1rem 2rem;
        }
      }
    }
  }
  .list-row {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    li {
      &:before {
        color: $backgroundColorTop;
        @include desktops {
          color: $textColor;
        }
      }
    }
  }
  section {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include tablets {
      flex-direction: column;
      justify-content: flex-start;
    }
    @include desktops {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    div {
      margin: 1rem;
      h1 {
        @include desktops {
          margin: 0 2rem;
        }
      }

      h6 {
        padding-bottom: 4rem;
      }

      .button {
        a {
          // font-size: 0.8rem;
          color: $backgroundColorTop;
          background: $primaryColor;
          border: solid $primaryColor;
          &:hover {
            color: $primaryColor;
            background: $backgroundColorTop;
            border: solid $primaryColor;
          }
        }
      }
    }

    .headerimage-div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .header-img {
      display: none;
      @include tablets {
        margin: 0;
        padding: 0%;
        display: block;
        object-fit: cover;
        max-width: 1280 px;
        min-width: 500 px;
        width: 100%;

        height: auto;
      }
    }
  }
  .header-text {
    @include tablets {
      padding-top: 25%;
      padding-bottom: 15%;
    }
    @include desktops {
      padding-top: 20%;
      min-width: 40%;

      max-width: 45%;
      margin: 0 auto;
      h1 {
        font-size: 2em;
        span {
          font-weight: 500;
        }
      }
      h6 {
        font-size: 0.9em;
      }
      .button {
        a {
          font-size: 0.9em;
        }
      }
    }
  }

  @include desktops {
    color: $textColor;
    background: none;

    .mask {
      clip-path: url("#myClip");
      position: absolute;
      .circle {
        position: absolute;
        fill: blue;
      }
      .rect {
        position: absolute;
        fill: red;
      }
    }
  }
}
