@use "sass:math";

header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient($primaryColor, $secondaryColor);
  color: $backgroundColorTop;
  text-align: center;
  overflow: hidden;
  position: relative;
  nav {
    background: $primaryColor;
    width: 100vw;
    @include desktops {
      background: linear-gradient($primaryColor, hsl(245deg 56% 40%));
      
    }
    ul {
      justify-content: space-evenly;
      color: $backgroundColorTop;
      display: flex;
      @include tablets {
        justify-content: center;
      }
      li {
        font-size: 1rem;
        padding: 1rem;
        font-weight: 600;
        @include tablets {
          padding: 1rem 2rem;
        }
      }
    }
  }
  .list-row {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    li {
      &:before {
        color: $backgroundColorTop;
        @include desktops {
          color: $textColor;
        }
      }
    }
  }
  section {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include tablets {
      flex-direction: column;
    }
    @include desktops {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    div {
      margin: 1rem;
      h6 {
        padding-bottom: 4rem;
      }

      .button {
        a {
          // font-size: 0.8rem;
          color: $secondaryColor;
          background: $accentColor;
          border: solid $accentColor;
        }
      }
    }
    .header-img {
      display: none;
      @include tablets {
        margin: 0;
        display: block;
        object-fit: cover;
        min-width: 30%;
        max-width: 65%;
        margin-left: 1rem;
        height: auto;
      }
    }
  }
  .header-text {
    @include desktops {
      width: 40%;
      margin: 0 auto;
      padding: 0 1rem;
      padding-top: 15%;
    }
  }

  @include desktops {
    color: $textColor;
    background: none;
  }
}
