@use "sass:math";
main {
  text-align: center;

  section {
    padding-top: 3rem;


    margin: auto;
    @include tablets {
      padding-top: 6rem;
      text-align: start;
    }
    .section-img {
      img {
        max-width: 100%;
        min-width: 100px;
        width: 100%;
        height: auto;
        min-height: 400px;
        max-height: 600px;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .animations {
      .section-img {
        img {
          max-width: 100%;
          min-width: 100px;
          width: 100%;
          height: auto;
          min-height: 400px;
          max-height: 600px;
          object-fit: cover;
          border-radius: 0.5rem;
          @include desktops {
            float: left;
          }
        }
      }
      // .video-responsive {
      //   overflow: hidden;
      //   padding-bottom: 56.25%;
      //   position: relative;
      //   height: 0;
      // }
      // .video-responsive iframe {
      //   left: 0;
      //   top: 0;
      //   height: 100%;
      //   width: 100%;
      //   position: absolute;
      //   border-radius: 0.5rem;
      // }
    }

    .button {
      a {
        background: $primaryColor;
        border: solid $primaryColor;
      }
    }
    .list-row {
      justify-content: center;
      @include tablets {
        justify-content: flex-start;
      }
    }
  }
  #service {
    @include tablets {
      padding-top: 20rem;
    }
  }
  #about-me {
    article {
      padding: 1rem;
    }
    .section-img {
      width: 80%;
      margin: auto;
      @include tablets {
        width: 30%;
      }
      @include desktops {
        width: 100%;

        margin: auto;
        img {
          float: none;
          margin: auto;
          width: 100%;
        }
      }

      img {
        border-radius: 100%;
        @include desktops {
          border-radius: 00.5rem;
        }
      }
    }
    @include tablets {
      padding-top: 9rem;
      padding-bottom: 3rem;
      h3 {
        text-align: center;
        @include desktops {
          text-align: start;
        }
      }
      h6 {
        ul {
          justify-content: center;
          @include desktops {
            justify-content: flex-start;
          }
        }
      }
    }
    @include desktops {
    }
    h3 {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
    h6 {
      padding-bottom: 3rem;
    }
    p {
      padding-top: 0.5rem;
      font-size: $sm-font-size;
    }
    article {
      padding-bottom: 3rem;
    }
    .contact {
      @include tablets {
        display: flex;
        align-items: start;
        justify-content: center;
        .button {
          margin: 0;
          margin-right: 1rem;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
      @include desktops {
        display: flex;
        align-items: center;
        .button {
          margin: 0 1rem;
        }
        p {
          margin: 0;
          padding: 0;
          margin: 0 1rem;
        }
      }
    }
  }
}
