main {
  text-align: center;
  section {
    padding-top: 3rem;
    width: 85%;
    margin: auto;
    .section-img {
      width: fit-content;
      margin: 0 auto;
    }

    .button {
      a {
        background-color: $primaryColor;
        border: solid $primaryColor;
      }
    }
    .list-row {
      justify-content: center;
    }
    img {
      margin-bottom: 1.5rem;
    }
  }
  .about-me {
    h3 {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
    h6 {
      padding-bottom: 3rem;
    }
    p {
      padding-top: 0.5rem;
      font-size: $sm-font-size;
    }
    article {
      padding-bottom: 3rem;
    }
  }
}
