@use "sass:math";
main {
  text-align: center;

  section {
    padding-top: 3rem;
    width: 85%;
    margin: auto;
    @include tablets {
      width: 70%;
      padding-top: 6rem;
      text-align: start;
    }
    @include desktops {
      padding-top: 10%;
      width: 60%;
    }

    .section-img {
      width: fit-content;
      margin: 0 auto;
    }

    .button {
      a {
        background: $primaryColor;
        border: solid $primaryColor;
      }
    }
    .list-row {
      justify-content: center;
      @include tablets {
        justify-content: flex-start;
      }
    }
    img {
      margin-bottom: 1.5rem;
    }
  }
  #about-me {
    @include desktops {
      width: 40%;
    }
    h3 {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
    h6 {
      padding-bottom: 3rem;
    }
    p {
      padding-top: 0.5rem;
      font-size: $sm-font-size;
    }
    article {
      padding-bottom: 3rem;
    }
    .contact {
      @include desktops {
        display: flex;
        align-items: center;
        .button {
          margin: 0 1rem;
        }
        p {
          margin: 0;
          padding: 0;
          margin: 0 1rem;
        }
      }
    }
    .section-img {
      width: fit-content;
      img {
        max-width: 40%;
      }
    }
  }

  .section-img {
    img {
      object-fit: cover;
      max-width: 70%;
    }
  }
}
