@import "variable";

// landscape sm

@media (width > 576px) and (orientation: landscape) {
  .presentation {
    margin-top: 2rem;
    justify-content: flex-end;
    margin-bottom: 2rem;

    h6 {
      margin-bottom: 0.5rem;
    }
    h1 {
      padding-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
  main {
    padding-top: 1rem;
  }
}

// portrait table
// header
@media (width >= 768px) {
  body {
    text-align: start;
  }
  header {
    color: $textColor;
    background: none;
  }
  nav {
    background: $primaryColor;
    background: linear-gradient($primaryColor, #333195);
  }
  nav > ul > li > a {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
  .presentation {
    justify-content: end;
    height: 93%;
  }

  .presentation-image {
    margin-top: 6rem;
    height: 40vh;
    width: 100vw;

    box-shadow: inset 0 0.2rem 0.3rem hsla(0, 0%, 0%, 0.14);
  }
  .call-to-action {
    font-size: 1.3em;
    color: desaturate($secondaryColor, 10%);
    letter-spacing: 0.1rem;
    .button {
      background: desaturate($accentColor, 15%);
    }
  }

  // main

  .main-sections {
    display: flex;
    justify-content: space-between;
  }
  .section-img {
    width: 40%;
  }

  .section-text {
    width: 55%;
  }
  .about-me {
    margin-top: 10rem;
  }
}

// landscate table
@media (width >= 768px) and (orientation: landscape) {
  header {
    height: 100vh;
  }
  main {
    margin-top: 0;
  }
  .presentation {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    margin-right: 0;
    div {
      margin-right: 0.9rem;
    }
    .presentation-image {
      margin: 0;
      height: 100%;
    }
  }
} ;
