@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// variable colors
$primaryColor: #3240b3;
$secondaryColor: #432b89;
$accentColor: #6de38c;
$textColor: #353546;
$backgroundColorTop: hsl(43deg 6% 89%);
$backgroundColorBottom: (hsl(43deg 9% 89%));

// margins
$basic-margin-size: 1rem;
$double-bargin-size: 2rem;

// font-sizes
$basic-font-size: 16px;
$xl-font-size: $basic-font-size * 2;
$sm-font-size: floor(math.div($basic-font-size, 1.3));
