/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* colors:
orange: #dd7255
yellow: #f5d299 */
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --textColor: #353546;
  --backgroundColor: #ebeae8;
  --secondaryColor: #432b89;
  --primaryColor: #3240b3;

  --tx-small: 0.8rem;
}
p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 900;
  font-size: 2.12rem;
  letter-spacing: 0.1rem;
}
h6 {
  font-size: var(--tx-small);
  font-weight: 500;
  letter-spacing: 0.1em;
}

a,
a:active {
  color: inherit;
  text-decoration: none;
}
/* use for all classes */
.margins {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ends of it */

.shadowsm {
  box-shadow: 0 0.2rem 0.3rem hsla(0, 0%, 0%, 0.14);
}
header {
  color: var(--backgroundColor);
  height: 100vh;
  background: hsla(255, 52%, 35%, 1);

  background: linear-gradient(
    90deg,
    hsla(255, 52%, 35%, 1) 0%,
    hsla(233, 56%, 45%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(255, 52%, 35%, 1) 0%,
    hsla(233, 56%, 45%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(255, 52%, 35%, 1) 0%,
    hsla(233, 56%, 45%, 1) 100%
  );
}
main,
footer {
  margin-top: 5rem;
}
main section {
  margin-top: 5rem;
}
nav {
  display: flex;
  justify-content: center;
  background-color: var(--primaryColor);
}
nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > ul > li,
nav > ul > li > a {
  color: var(--backgroundColor);
  list-style: none;
  text-decoration: none;
}
.presentation {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.work-titles {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  position: relative;
}

.work-titles li ~ li::before {
  content: "●";
  font-size: 0.5em;
  padding: 0 1.7em;
  position: relative;
  top: -0.4em;
}
.about-me .work-titles li ~ li::before {
  padding: 0 1em;
}
.call-to-action {
  margin-top: 6em;
  color: var(--secondaryColor);
  font-weight: 800;
  text-align: center;
}
.button {
  background-color: inherit;
  padding: 0.7em 1.5rem;
  border-radius: 0.5em;
}
