@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/styles.css -o ./public/styles-output.css --watch */

/* .head-calToAction > ul > li::before {
  content: "";
  height: 100%; /* needed to work*/
  width: 0.4rem;
  height: 0.4rem;
  background: var(--background-color);
  margin: 0 0.4rem;
  display: inline-block;
  border-radius: 50%;
}
.head-calToAction > ul > li:first-child:before {
  display: none;
} */
